.body-quiz{
  background-color: #000;
  color: #fff;
  padding-bottom: 30px;
}

.header{
  margin-bottom: 10px;
}

.score{
  color: #fff;
}
.pagination{
  margin-bottom: 30px;
}
.pagination__items{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pagination__item{
  padding: 10px 5px;
  font-size: 21px;
  font-weight: 400;
  background-color: #008966;
  width: 100%;
  text-align: center;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.pagination__item:first-of-type{
  border-radius: 50px 0 0 50px;
}
.pagination__item:last-of-type{
  border-radius: 0px 50px 50px 0px;
}
.pagination__item + .pagination__item{
  border-left: 1px solid #007c5d;
}

.pagination__item_active{
  background-color: #00bc8c;
}

.riddle{
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #303030;
}

.riddle__inner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.riddle__img-box{
  border-radius: 20px;
  margin-right: 40px;
  max-width: 400px;
  height: 220px;
  overflow: hidden;
  width: 100%;
}
.riddle__img{
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.riddle__info{
  width: 100%;
}

.riddle__title{
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #555;
  font-size: 35px;
}
.riddle__audio-info{
  margin-bottom: 20px;
}

.audio-wrapper-disabled{
  position: relative;  
}
.audio-wrapper-disabled::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.589);
  overflow: hidden;
}
.audio-wrapper-disabled::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  background-image: url(../../assets/gif/loader.gif);
  background-repeat: no-repeat;
  background-size: contain;
}
.audio-wrapper-disabled_off::before,
.audio-wrapper-disabled_off::after{
  display: none;
}

.game__audio-play {
  margin-right: 20px;
}

.game{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.game__items{
  width: 40%;
  margin-right: 20px;
}

.game__item{
  padding: 0.85rem 1.25rem;
  padding-left: 70px;
  border: 1px solid #555;
  background-color: #303030;
  cursor: pointer;
  position: relative;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.game__item::before{
  content: "";
  width: 20px;
  height: 20px;
  background-color: silver;
  border-radius: 100%;
  position: absolute;
  left: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.game__item_active::before{
  background-color: rgb(18, 211, 0);
}

.game__item_err::before{
  background-color: rgb(211, 0, 0);
}

.game__item:hover{
  background-color: #202020;
}
.game__item:hover::before{
  background-color: #7c7c7c;
}
.game__item_err:hover::before{
  background-color: rgb(211, 0, 0);
}

.game__item_active:hover::before{
  background-color: rgb(18, 211, 0);
}

.game__item:first-of-type{
  border-radius: 15px 15px 0 0;
}

.game__item:last-of-type{
  border-radius: 0px 0px 15px 15px;
}

.game__bird-info{
  padding: 20px;
  width: 60%;
  border: 1px solid #555;
  background-color: #303030;
  border-radius: 15px;
}
.game__bird-promo{
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.game__bird-box{
  margin-right: 20px;
  overflow: hidden;
  max-width: 400px;
  width: 100%;
  height: 220px;
  border-radius: 10px;
}

.game__bird-img{
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.game__bird-content{
  width: 100%;
}

.game__bird-text{
  font-size: 21px;
  line-height: 28px;
  letter-spacing: 1px;
}

.game__bird-title{
  font-size: 35px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #555;
}

.game__bird-title_en{
  margin-bottom: 20px;
  font-size: 24px;
}

.game__audio-info{
  margin-bottom: 10px;
}

.game__time-box{
  padding-left: 70px;
}

.game__time{
  font-size: 18px;
}

.btn-next{
  padding: 10px 0;
  background-color: #007c5d;
  display: block;
  width: 100%;
  color: #fff;
  font-size: 21px;
  border-radius: 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
  border: 1px solid #000;
  text-align: center;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.btn-next:hover{
  background-color: #006149;
}

.btn-next_disabled{
  background-color: rgb(68, 68, 68);
}

.btn-next_disabled:hover{
  background-color: rgb(68, 68, 68);
}

.result__body{
  padding: 50px 20px;
  background-color: #303030;
  border-radius: 0.3rem;
  text-align: center;
}
.result__title{
  margin-bottom: 35px;
  font-size: 58px;
  font-weight: 400;
}
.result__text{
  margin-bottom: 80px;
  font-size: 28px;
}
.result__btn{
  color: #fff;
  border-radius: 10px;
  background-color: #007c5d;
  display: block;
  width: 100%;
  color: #fff;
  font-size: 31px;
  border-radius: 15px;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

.result__btn:hover{
  background-color: #006149;
}

.link-reset{
  padding: 25px 0;
  display: block;
}